.gpt3__features-container__feature-title{
  position: relative;
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
} 

.gpt3__features-container__feature-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 38px;
  height: 3px;
  left: 0;
  top: 0;
  
  background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

.gpt3__features-container__feature-title h2{
  font-size: 24px;
  line-height: 75px;
  color: var(--color-text-light);
  padding: 0 0 2rem;
}

.gpt3__features-container__feature-text p{
  color: #81AFDD;
  font-size: 16px;
  line-height: 30px;
}



/* mobile */
@media screen and (max-width: 700px) {
  .gpt3__features-container__feature-title h2{
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}



@media screen and (max-width: 550px) {

  .gpt3__features-container__feature-title h2{
    font-size: 20px;
  }

  .gpt3__features-container__feature-text p{
    font-size: 14px;
  }
}