@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-text-light: #fff;
  --color-subtext: #FF8A71;
  --color-btn-text: #fff;
}

h1,h2,h3,h4,h5,p,span,ul,ol,li{
  font-family: var(--font-family);
  font-style: normal;
}

/* buttons */
.btn-square{
  border: 1px solid #FFFFFF;
  border-radius: 0;
  outline: none;
  padding: 1rem;
}

/* small large */
@media screen and (max-width: 1050px) {
  .large{
    display: none;
  }
}